@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: regular;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "extra-light";
  src: url("./assets/fonts/PPMori-Extralight.otf") format("opentype");
}

@font-face {
  font-family: "extra-light-italic";
  src: url("./assets/fonts/PPMori-ExtralightItalic.otf") format("opentype");
}

@font-face {
  font-family: "regular";
  src: url("./assets/fonts/PPMori-Regular.otf") format("opentype");
}

@font-face {
  font-family: "regular-italic";
  src: url("./assets/fonts/PPMori-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "semi-bold";
  src: url("./assets/fonts/PPMori-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "semi-bold-italic";
  src: url("./assets/fonts/PPMori-SemiBoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "vip-regular";
  src: url("./assets/fonts/Vipnagorgialla-Rg.otf") format("opentype");
}

@font-face {
  font-family: "vip-regular-italic";
  src: url("./assets/fonts/Vipnagorgialla-Rg-It.otf") format("opentype");
}

@font-face {
  font-family: "vip-bold";
  src: url("./assets/fonts/Vipnagorgialla-Bd.otf") format("opentype");
}

@font-face {
  font-family: "vip-bold-italic";
  src: url("./assets/fonts/Vipnagorgialla-Bd-It.otf") format("opentype");
}

@font-face {
  font-family: "retro";
  src: url("./assets/fonts/Retro-gaming.ttf") format("truetype");
}

@font-face {
  font-family: "mighty";
  src: url("./assets/fonts/Souly.ttf") format("truetype");
}

@font-face {
  font-family: "tarrgetacad";
  src: url("./assets/fonts/tarrgetacad.ttf") format("truetype");
}

@font-face {
  font-family: "tarrgetplatital";
  src: url("./assets/fonts/tarrgetplatital.ttf") format("truetype");
}

@font-face {
  font-family: "tarrgethalf";
  src: url("./assets/fonts/tarrgethalf.ttf") format("truetype");
}

@font-face {
  font-family: "tarrgethalfital";
  src: url("./assets/fonts/tarrgethalfital.ttf") format("truetype");
}

@font-face {
  font-family: "tarrget3d";
  src: url("./assets/fonts/tarrget3d.ttf") format("truetype");
}

.spacer-large {
  padding: 60px 0px;
}

.spacer-medium {
  padding: 20px 0px;
}

.spacer-small {
  padding: 8px 0px;
}

.spacer-xs {
  padding: 4px 0px;
}

.footer-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f51ff;
  color: white;
  text-decoration: none;
  border: none;
  transition: all 300ms;
}

.footer-btn:hover {
  background-color: #282828;
  color: #fff;
}

.footer-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 500ms;
}

.footer-btn:hover::after {
  transform: scale(1, 1);
  opacity: 1;
}

.footer-btn:active {
  transform: scale(0.9);
}

.wave {
  width: 100%;
  height: 100%;

  --s: 140px; /* control the size */
  --c1: #f0f8ff; /* Softest Powder Blue */
  --c2: #dbeeff; /* Gentle Cloud Blue */
  --c3: #f0f8ff; /* Light Pastel Sky Blue */
  --c4: #efffff; /* Soft Baby Blue */

  --_g: #0000 25%, #00f1 47%, var(--c1) 53% 147%, var(--c2) 153% 247%,
    var(--c3) 253% 347%, var(--c4) 353% 447%, var(--c1) 453% 547%, #00f1 553%,
    #0000 575%;
  --_s: calc(25% / 3) calc(25% / 4) at 50%;

  background: radial-gradient(var(--_s) 100%, var(--_g)),
    radial-gradient(var(--_s) 100%, var(--_g)) calc(var(--s) / 2)
      calc(3 * var(--s) / 4),
    radial-gradient(var(--_s) 0, var(--_g)) calc(var(--s) / 2) 0,
    radial-gradient(var(--_s) 0, var(--_g)) 0 calc(3 * var(--s) / 4),
    repeating-linear-gradient(
      90deg,
      var(--c3) calc(25% / -6) calc(25% / 6),
      var(--c4) 0 calc(25% / 2)
    );

  background-size: var(--s) calc(3 * var(--s) / 2);
  animation: moveHex 8s infinite linear;
}

.metal-wave {
  width: 100%;
  height: 100%;

  --s: 140px; /* control the size */
  --c1: #f0f8ff; /* Softest Powder Blue */
  --c2: #dbeeff; /* Gentle Cloud Blue */
  --c3: #f0f8ff; /* Light Pastel Sky Blue */
  --c4: #efffff; /* Soft Baby Blue */

  --_g: #0000 25%, #00f2 47%, var(--c1) 53% 147%, var(--c2) 153% 247%,
    var(--c3) 253% 347%, var(--c4) 353% 447%, var(--c1) 453% 547%, #00f2 553%,
    #0000 575%;
  --_s: calc(25% / 3) calc(25% / 4) at 50%;

  background: radial-gradient(var(--_s) 100%, var(--_g)),
    radial-gradient(var(--_s) 100%, var(--_g)) calc(var(--s) / 2)
      calc(3 * var(--s) / 4),
    radial-gradient(var(--_s) 0, var(--_g)) calc(var(--s) / 2) 0,
    radial-gradient(var(--_s) 0, var(--_g)) 0 calc(3 * var(--s) / 4),
    repeating-linear-gradient(
      90deg,
      var(--c3) calc(25% / -6) calc(25% / 6),
      var(--c4) 0 calc(25% / 2)
    );

  background-size: var(--s) calc(3 * var(--s) / 2);
  animation: moveHex 8s infinite linear;
}

@keyframes moveHex {
  to {
    background-position: var(--s) 0, calc(var(--s) / -2) calc(3 * var(--s) / 4),
      calc(3 * var(--s) / 2) 0, calc(-1 * var(--s)) calc(3 * var(--s) / 4), 0 0;
  }
}
